# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Output files
*.png
*.npz

# 3D printer files
*.gcode
*.stl

# Test cache
.pytest_cache/
.coverage

# Experiment development folder (not version controlled)
# experimentDev/ for now I will share this with Oliver to solve more example

# Slic3r binary (download separately, see README)
slicers/

# remove pdf files
*.pdf